<?xml version='1.0' encoding='utf-8'?>
<widget id="mx.mixen.dexe" version="1.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Dexe Desarrolladora</name>
    <description>Aplicación para la gestión de datos de los clientes.</description>
    <author email="support@phonegap.com" href="http://phonegap.com">Mixen</author>
    <content src="index.html" />
    <plugin name="org.apache.cordova.inappbrowser" />
    <plugin name="cordova-plugin-whitelist" />
    <preference name="stay-in-webview" value="false" />
    <preference name="StatusBarOverlaysWebView" value="false" />
    <allow-navigation href="http*://*.mixen.mx/web/dexe-app/*" />
    <allow-navigation href="http*://*.mixen.mx/web/dexe/*" />
    <allow-navigation href="*" />
    <access launch-external="yes" origin="tel:*" />
    <access launch-external="yes" origin="geo:*" />
    <access launch-external="yes" origin="mailto:*" />
    <access launch-external="yes" origin="sms:*" />
    <access launch-external="yes" origin="market:*" />
    <access origin="*" />
    <icon src="www/img/icons/icon.png" />
    <icon platform="android" qualifier="ldpi" src="www/img/icons/icon-36.png" />
    <icon platform="android" qualifier="mdpi" src="www/img/icons/icon-48.png" />
    <icon platform="android" qualifier="hdpi" src="www/img/icons/icon-72.png" />
    <icon platform="android" qualifier="xhdpi" src="www/img/icons/icon-96.png" />
    <icon platform="blackberry" src="www/img/icons/icon-80.png" />
    <icon platform="blackberry" src="www/img/icons/icon-80.png" state="hover" />
    <icon height="57" platform="ios" src="www/img/icons/icon-57.png" width="57" />
    <icon height="72" platform="ios" src="www/img/icons/icon-72.png" width="72" />
    <icon height="114" platform="ios" src="www/img/icons/icon-57.png" width="114" />
    <icon height="144" platform="ios" src="www/img/icons/icon-72.png" width="144" />
    <icon platform="webos" src="www/img/icons/icon-64.png" />
    <icon platform="winphone" src="www/img/icons/icon-48.png" />
    <icon platform="winphone" role="background" src="www/img/icons/icon-173.png" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <feature name="Geolocation">
        <param name="ios-package" value="CDVLocation" />
    </feature>
</widget>
