a.button {
	padding-top: 10px;
	text-align: center;
	color: #fff;
}

a.button:hover, a.button:focus, a.button:active   {
    text-decoration: none;
    color: #fff !important;
}

a.button.btn-add, a.button.btn-add-square, a.button.btn-add-square-white {
	padding-top: 17px;
}

td a.button {
	margin-top: 0px;
	text-align: center;
	float: left;
    vertical-align: middle;
}

.btn-primary-os {
    display: inline-block;
    color: #fff;
    font: 400 13px Helvetica, sans-serif;
    background-color: #1a84ce;
    width: auto;
    float: right;
    border: none;
    margin: 11px 14px 11px 14px;
    padding: 10px;
}

.btn-primary-os:hover {
    background-color: #0E8FCC;
}

.btn-alert-os, .btn-success-os, .btn-add, .btn-warning-os {
    color: #fff;
    font: 400 13px / 14.768px Open Sans;
    width: 90px;
    height: 36px;
    border: none;
    margin: 45px 0px 0px 0px;
}

.btn-warning-os {
    background-color: #FFB511;
    padding: 12px;
}

.btn-warning-os:hover {
    background-color: #F4B410;
}

.btn-success-os {
    background-color: #3cb878;
}

.btn-success-os:hover {
    background-color: #36A66C;
}

.btn-alert-os, .btn-submit btn-success-os {
    background-color: #fc3333;
}

.btn-submit btn-success-os {
    height: 50px;
    display: block;
    width: 100%;
    margin-top: 20px;
    font: 400 13px Helvetica, sans-serif;
    border: none;
    color: #fff;
}

.btn-submit btn-success-os:hover, .btn-alert-os:hover {
    background-color: #CA2929;
}

.btn-submit {
    height: 50px;
    display: block;
    width: 100%;
    margin-top: 20px;
    border: none;
}

.btn-add-square, .btn-add-square-white{
    background-color: #3cb878;
    border: none;
    color: white;
    width: 45px;
    height: 45px;
    font: 700 20.28px / 14.763px Helvetica, sans-serif;
}

.btn-add-square-white {
    background-color: #fff;
    border: #cbcbcb solid 1px;
    color: #3cb878;
}

.btn-add-square-white:hover{
    background-color: #dfdfdf;

}

.btn-add-square:hover {
    background-color: #309360;
}

.inline-button {
    margin-top: 35px;
    margin-right: 0px;
}

.btn-sales {
    background: #3CB878;
    height: 40px;
    padding: 6px;
    color: #fff;
}

.btn-sales a {
    color: #fff;
}

.btn-alert {
    background: #fc3333 !important;
    height: 40px;
    padding: 6px;
    color: #fff;
}

.btn-alert a {
    color: #fff;
}

.btn-default {
    background-image: none !important;
    border-radius: 0px !important;
    background-color: #f1f1f1 !important;
    box-shadow: none !important;

}

.signal-plus {
    width: 45px;
    height: 45px;
    line-height: 35px;
    text-align: center;
    text-decoration: none;
    list-style: none;
    background-color: rgba(0, 0, 0, 0.1); 
    font-weight: bold;
    font-size: 30px;
	position: absolute;
	padding-top: 5px;
	left: 0px;
	top: 15px;
	z-index: 2;
	color: #fff !important;
}

.btn-collapse {
    background: #12AFCB;
    color: #fff !important;
	height: 45px;
	font-size: 14px !important;
    border-radius: 0px;
    padding: 11px 0px 0px 20px !important;
    line-height: 23px !important;
    width: 200px;
}

.btn-collapse:hover {
    background: #08A7C3;
    color: #fff;
}

.btn-collapse:focus {
    background: #12AFCB;
    color: #f1f1f1;
}

td .btn-success-os {
	margin-top: 0px;
}


.f-left {
    float: left;
}

.btn-option {
    background: transparent;
    border: 0px;
}

.dropdown-menu {
    top: 100% !important;
    left: -124px !important;
    border-radius: 0px;    
}

.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
    background: #1A84CE;
    color: #fff;
}

.panel-default, .panel-heading, .panel {
    border: 0px !important;
    background: transparent !important;
    box-shadow: none !important;
}

.panel-body {
    padding: 0px !important;
}

.add-details a {
    color: #ccc;
}

.add-details a:hover {
    color: #11B3FF;
} ï‚œ