.br-1 {
    margin-top: 60px !important;
}

.br-2 {
    margin-top: 28px !important;
}

.section-os, .section-os-fluid, .section-os-full, .section-os-dashboard, .section-os-reports, .section-os-dashboard-mini {
    border: 1px solid #e1e1e1;
    margin: 55px auto;
    max-width: 570px;
    background-color: #fff;
}

.section-os-fluid {
    margin: 10px auto;
    max-width: 100%;
}

.section-os-full {
    margin: 45px auto;
    max-width: 1170px;
}

.section-os {
    margin: 10px auto;
}

.dash {
    padding: 0 10px 0 10px !important;
}

.section-os-dashboard {
	max-width: 100%;
	min-height: 430px;
	margin: 10px 0px 10px 0px !important;
}


.section-os-dashboard-mini {
	max-width: 100%;
	min-height: 80px;
	margin: 10px 0px 10px 0px !important;
}

.section-os-title, .modal-header {
    background-color: #fff;
    padding: 20px;
    border-bottom: 1px solid #f1f1f1;
}

.section-os-title h1, .modal-header h4 {
    font: 14px Open Sans;
    margin: 0px;
    display: inline-block;
    position: relative;
}

.section-os-title a.email {
	display: block;
	width: 20px;
	height: 25px;
	background: url(../../img/content/email.png) no-repeat center;
}

.section-os-title a.email:hover {
	background: url(../../img/content/email-hover.png) no-repeat center;
}

.section-os-title a.download {
	display: block;
	width: 25px;
	height: 25px;
	background: url(../../img/content/download.png) no-repeat center;
}

.section-os-title a.download:hover {
	background: url(../../img/content/download-hover.png) no-repeat center;
}

.section-os-content {
    padding: 23px 35px;
    background-color: #fff;
}

.section-os-fluid .section-os-content {
    padding: 10px 10px;
}

.section-os-title .btn-primary-os, .section-os-title .btn-alert-os, .section-os-title .btn-success-os {
    margin: -9px 10px 0 0;
}

.section-os-title .row .btn-primary-os {
    margin: -1px 0 0 0;
}

.section-os-title .glyphicon-remove {
    color: #fff;
}

.order-number span {
    color: #ff2610;
}

.title-functions {

}

.title-functions input-group {
	width: 100%;
}

.title-functions .input-os, .stage-header .input-os, .stage-input-top {
    height: 34px;
    margin: 0px;
    display: inline-block;
	max-width: 97%;
}

.search-gray, .search-blue {
    position: relative;
	height: 32px;
	width: 27px;
	background-color: transparent;
	color: #aaa6a6;
	display: inline;
	border: none;
	margin-left: -32px;
    padding-top: 3px;
}

.search-blue {
    background-color:#11b3ff;
    color: #fff;
}

.title-functions input::-webkit-input-placeholder {
	font: 400 14px / 33px Helvetica, sans-serif;
	color: #aaa6a6;
}

.title-functions input::-moz-placeholder {
	font: 400 14px / 33px Helvetica, sans-serif;
	color: #aaa6a6;
}

.title-functions input:-moz-placeholder {   /* Older versions of Firefox */
	font: 400 14px / 33px Helvetica, sans-serif;
	color: #aaa6a6;
}

.title-functions input:-ms-input-placeholder { 
	font: 400 14px / 33px Helvetica, sans-serif;
	color: #aaa6a6;
}

.stage-wrapper {
    max-width: 100%;
    margin: 45px 0px;
}

.stage-header {
    height: 60px;
    background-color: #f4f4f4;
    border: #cbcbcb solid 1px;
    
}

.stage-header h1 {
    font: 400 16px / 14.768px Open Sans;
    color: #808080;
    margin: 22px;
    display: inline-block;
}

.stage-header .input-os, .stage-input-top{ 
    width: 98%;
}

.stage-header .right-floater {
    margin: 12px;
}

.pages {
    display: inline-block;
    font: 400 14px / 17.763px Helvetica, sans-serif;
    color: #808080;
    padding-top: 30px;
    position: relative;
    top: -5px;
}

.pagesrow {
    position: relative;
    top: -14px;
}

.sl-btn-left{
    display: inline-block;
    position: relative;
    top: 4px;
    background: url(../../img/content/left-page-arrow.png);
    width: 21px;
    height: 22px;
    border: #e1e0e0 solid 1px;
}

.sl-btn-right{
    display: inline-block;
    position: relative;
    top: 4px;
    background: url(../../img/content/right-page-arrow.png);
    width: 21px;
    height: 22px;
    border: #e1e0e0 solid 1px;
}

.sl-btn-left:hover, .sl-btn-right:hover{
    background-color: #F0F0F0;
    background: none;
}

.os-pager {
    display: inline-block;
    list-style: none;
    text-align: center;
    margin: 0px 0px 0px 0px;
    padding-left: 0;
}

.os-pager li {
    display: inline;
}

.os-pager li > a, .os-pager li > span {
    width: 21px;
    height: 22px;
    display: inline-block;
    max-height: 22px;
    max-width: 21px;
    overflow: hidden;
    border: #e1e0e0 solid 1px;
    border-radius: 0px;
    background-color: #ffffff;
    padding: 0px;
}

.os-pager li > a:hover, .os-pager li > a:focus {
    text-decoration: none;
    box-shadow: inset 0 0 0 10px rgba(100,100,100,.15);
}

.os-pager a[rel=next], .os-pager span[rel=next] {
    background: url(../../img/content/right-page-arrow.png);
    color: transparent; 
}

.os-pager a[rel=prev], .os-pager span[rel=prev] {
    background: url(../../img/content/left-page-arrow.png);
    color: transparent; 
}

.os-pager .next > a, .os-pager .next > span {
    float: right;
}

.os-pager .previous > a, .os-pager .previous > span {
    float: left; 
}

.os-pager .disabled > a, .os-pager .disabled > a:hover, .os-pager .disabled > a:focus, .os-pager .disabled > span {
    color: transparent;
    box-shadow: inset 0 0 0 10px rgba(100,100,100,.1);
    cursor: not-allowed;
}

.standalone-pager {
	padding-top: 0px;
	float: right;
	top: -20px;
}

.standalone-pager p {
	position: relative;
	display: inline-block;
	top: -5px;
}