body {
	background: #219488;
}

.logo {
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50px);
	-moz-transform: translateY(-50px);
	-ms-transform: translateY(-50px);
	transform: translateY(-50px);
	width: 100%;
}

img {
	margin: 0 auto;
	display: none;
}