.red {
    color: #fc3333;
}

a.red:hover {
	color: #791919;
}

.bg-yellow {
    background-color: #ffbe10;
}

.bg-green {
    background-color: #3cb878;
}

.bg-blue {
    background-color: #11b3ff;
}

.bg-red {
    background-color: #fc3333;
}

/* BEGIN CAR COLORS */
.car-color {
    margin: 10px 5px 0px 5px;
    width: 15px;
    height: 15px;
    display: inline-block;
}

td .car-color {
	border-radius: 50%;
	margin: 0px;
}

.car-color.red {
    background-color: #FC3333;
}

.car-color.blue {
    background-color: #11B3FF;
}

.car-color.green {
    background-color: #3cb878;
}

.car-color.orange {
    background-color: #ff9c00;
}

.car-color.yellow {
    background-color: #FFB910;
}

.car-color.white {
    background-color: #fff;
    border: 1px solid #ccc;
}

.car-color.gray {
    background-color: #cbcbcb;
}

.car-color.black {
    background-color: #000;
}

.car-color.purple {
    background-color: #6e00f5;
}

.car-color.pink {
    background-color: #ff46c9;
}

.car-color.brown {
    background-color: #8b4827;
}

.car-color.magenta {
    background-color: #ff1149;
}

/* END CAR COLORS */